.tvshow-figure {
    position: relative;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .tvshow-poster {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 0.5em;
    height: 360px;
    width: 250px;
  }
  
  .tvshow-title {
    /* font-size: 0.875rem; */
    font-weight: 400;
    margin: 0;
  }