.details-poster {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    /* margin-bottom: 80px; */
    /* justify-content: center; */
    margin-bottom: 0.5em;
    height: 360px;
}

.blurb-modal {
    margin-top: 100px;
    /* justify-content: center; */
    /* margin-left: 90px; */
}
  
.details-poster-row, .details-blurb-modal-row, .details-grid, .details-blurb-grid {
    justify-content: center;
}
.details-ui-segment1 {
    background: #e2e2e296 !important;
}
.details-ui-segment2 {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background: #ffffff96 !important;
}

.details-blurb-header {
    margin: 0 !important;
}