body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: none; */
  background-image: url("./Images/topography.png") !important;
}

.ui.inverted.menu {
  background: #1e5e9e !important
}

/* .movie-poster {
  height: 225px;
  width: 150px;
}

.movie-figure {
  height: 225px;
  width: 175px;
  margin: 25px;
  padding-left: 10px;
  padding-right: 10px;

}

.panel-body {
  margin: 25px;
  padding-left: 10px;
  padding-right: 10px;
} */
